.container {
  background-color: #1e1e1e;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  height: auto;
  min-height: 30%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #724e91;
  border-radius: 20px;
  padding: 30px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border: 2px solid #724e91;
  color: #1e1e1e;
}

select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

span {
  color: #1e1e1e;
  font-size: 13px;
}
